[alias]
    st = status
    co = checkout
    br = branch
    cp = cherry-pick
    rb = rebase
    sw = switch

[core]
    editor = nvim
    pager = delta

[interactive]
    diffFilter = delta --color-only

[diff]
    colorMoved = default

[delta]
    line-numbers = true
    side-by-side = true
    syntax-theme = gruvbox

